body {
    font-family: system-ui, sans-serif;
    background: #333542;
    margin: 0;
    padding: 0.75rem 1.5rem;

    color: #eaeaea
}

.app {
    display: flex;
    min-height: 95vh;
}

.sidebar {
    width: 250px;
    background: #161a21;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
}

.sidebar-bottom {
    border-top: 2px solid #2a2f3a;
    padding-top: 10px
}

.sidebar .logo {
    color: #4f8cff;
    margin-bottom: 30px
}

.sidebar nav a {
    display: block;
    color: #ccc;
    text-decoration: none;
    padding: 14px 0;
    margin-bottom: 6px;
    font-size: 15px;
}

.sidebar nav a:last-child {
    margin-bottom: 0;
}

.sidebar nav a:hover{
    color: white;
}

.content {
    flex: 1;
    padding: 50px;
}

h1 {
    margin-bottom: 1.5rem;
}

.grid-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 10px;
}

.grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 10px;
}

.card {
    background: #282A34;
    border-radius: 14px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-header h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #cbd5e1;
    margin-bottom: 15px;
}


.card-body p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}


.card-body li{
    color: #000000
}

.card.wide{
    width: 1200px;
}

.card.wide li {
    color: #000000
}

.card-body {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
}


.account-info {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  margin-top: 7px;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #4f8cff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.account-info .name {
  font-size: 20px;
}

 .switch {
  font-size: 13px;
  color: #888;
  margin-top: 13px;
}


/* icon base */
.icon {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

/* semantic colors */
.icon.red {
  background: #ef4444;
}

.icon.blue {
  background: #3b82f6;
}

.icon.green {
  background: #22c55e;
}

.icon.orange {
  background: #f97316;
}