<!DOCTYPE html>
<html>
    <head>
        <title>Opslens</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        />

    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1"></script>



    <body>
        <div class = "app">
        <!--Side bar-->
        <aside class = "sidebar">
            
            <div class = "sidebar-top">
                <div class="logo-wrap">
                    <img
                        src="{{ url_for('static', filename='images/opslens-logo.png') }}"
                        alt="OpsLens logo"
                        class="logo-img"
                    />
                    <h2 class="logo">OpsLens</h2>
                </div>

                <nav class = "sidebar-nav">
                    <a href="/" class = "nav-item">
                        <i class ="fa-solid fa-upload"></i>
                        <span>Upload</span>
                    </a>
                    <a href="/dashboard" class = "nav-item">
                        <i class ="fa-solid fa-house"></i>
                        <span>Overview</span>
                    </a>
                    <a href="/analytics" class = "nav-item">
                        <i class ="fa-solid fa-chart-line"></i>
                        <span>Analytics</span>
                    </a>
                    <a href="/saved" class = "nav-item">
                        <i class ="fa-solid fa-bookmark"></i>
                        <span>Saved</span>
                    </a>
                </nav>
            </div>

            <div class="sidebar-bottom">
                {% if current_user %}
                    <div class="account-info">
                    <div class="avatar">{{ current_user.avatar }}</div>
                    <div class="name">{{ current_user.name }}</div>
                    </div>
                    <a href="/logout" class="switch">Sign Out</a>
                {% else %}
                    <a href="/login" class="switch-signin">Sign In</a>
                {% endif %}
            </div>
        </aside>

        <main class = "content">
            {% block content %}{% endblock %}
        </main>
        </div>

        {% block scripts %}{% endblock %}
    </body>

</html>