<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8" />
    <title>OpsLens - Upload</title>
    <link rel ="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body class = "upload-page">

    <header class = "upload-header">
      <div class = "logo">
        <img src="{{ url_for('static', filename='images/opslens-logo.png') }}" alt="OpsLens">
        <span>OpsLens</span>
      </div>

      <div class = "header-actions">
        <span class = "lang">EN</span>
          {% if current_user %}
          <div class="account-info">
            <div class="avatar">{{ current_user.avatar }}</div>
            <div class="name">{{ current_user.name }}</div>
          </div>
          {% else %}
            <a href="/login?next=/" class="sign-in-btn">Sign In</a>
          {% endif %}
      </div>
    </header>

    <main class = "upload-main">
      <h1>Analyze CSV Files Instantly</h1>

      <p class = "subtitle">
        Upload your CSV file and we will automatically analyze, validate, and visualize your data"
      </p>

      <form
        class = "upload-box"
        method = "POST"
        enctype = "multipart/form-data"
      >
        <div class = "drop-area">
          <p>Drag and drop your CSV file here</p>
          <span>or</span>
          <label class = "file-btn">
            Choose File
            <input type = "file" name ="file" accept=".csv" hidden>
          </label>
        </div>
      </form>
          {% if current_user %}
            <div class="saved-link">
              <a href="/saved">View Saved Datasets</a>
            </div>
          {% endif %}

    </main>
  </body>
</html>

<script>
  const dropArea = document.querySelector(".drop-area");
  const fileInput = document.querySelector("input[type='file']");
  const form = document.querySelector("form");

  // Auto-submit when file is chosen
  fileInput.addEventListener("change", () => {
    if (fileInput.files.length > 0) {
      form.submit();
    }
  });

  // Drag over
  dropArea.addEventListener("dragover", (e) => {
    e.preventDefault();
    dropArea.classList.add("dragging");
  });

  dropArea.addEventListener("dragleave", () => {
    dropArea.classList.remove("dragging");
  });

  // Drop
  dropArea.addEventListener("drop", (e) => {
    e.preventDefault();
    dropArea.classList.remove("dragging");

    if (e.dataTransfer.files.length > 0) {
      fileInput.files = e.dataTransfer.files;
      form.submit();
    }
  });
</script>
